
h1{
font-size: 90px;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}
h2{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
body{

    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.div1{

    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;

}


.middle-container  .profile img{
    border-radius: 50%;
}
.middle-container .skills .skill-row img{
    width: 200px;
    
    
}
.middle-container .contact-me a{
    color: #11999E;  
}
.bottom-container a{
    color: #11999E;
}

.top-cloud{
    position: absolute ;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
position:absolute;
left:300px ;
bottom:300px ;
}